.cart-section{
    position: relative;
    background: #f5f5f5;
}
.cart-details-box{
    width: 100%;
    position: relative;
    display: inline-block;
}
.cart-details-box ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart-details-box ul li{
    font-size:0.95rem;
    font-weight: 500;
    line-height: 28px;
}
.cart-details-box ul li span{
    float:right;
}
.cart-footer{
    background: #fff;
border-top: 1px solid #eee;
padding: 15px;
position: fixed;
bottom: 0;
width: 100%;
}
.cart-item-box{
    display: flex;
    width: 100%;
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.cart-item-box .cart-item-img{
    width: 100px;
    margin-right: 15px;
}
.cart-item-box .cart-item-img img{
    width:100%;
}
.cart-item-content{
    width: 100%;
    position: relative;
}
.cart-item-content .item-name{
    font-size: 0.9rem;
    font-weight: 600;
}
.cart-item-content .item-price{
    width:100%;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    font-weight: 500;
}
.cart-item-content .item-price .old-price{
    color: #999;
margin-left: 8px;
text-decoration: line-through;
}
.cart-item-content .item-price .off{
    color: #51aa1b;
margin-left: 8px;
}
.item-qty{
    display: flex;
    align-items: center;
    margin-top:15px;
    width: 100%;
}
.item-qty button{
    background: #fff;
    border: 1px solid #84c225;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-qty span{
    width: 35px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}