.product-show-section{
    display: flex;
    padding: 0px 25px;
}
.product-list-sidebar{
    position: relative;
    width:300px;
    padding-right:0px;
    min-height:700px;
    padding:15px 15px 15px 0px;
    background: #fff;
    margin-right: 15px;
    border-right: 1px solid #eee;
}
.product-list-section{
    width: 100%;
    background: #fff;
    padding: 15px 0px;
}
.product-list-heaader{
    padding: 0px 0px 15px;
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.product-list-main{
    border-bottom: 1px solid #ddd;
}
.product-list-box{
    width: 100%;
    padding: 15px 20px !important;
position: relative;
transition: box-shadow .2s ease-in-out;
    display: inline-block;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.product-list-box:nth-child(4n+0){
    border-right: 0px solid #ddd;
}
.product-list-box .plb-img{
    width: 100%;
    position: relative;
}
.product-list-box .plb-img img{
    width: 100%;
    height: 200px;
object-fit: contain;
}
.product-list-box .plb-content{
    width: 100%;
    padding: 15px 0px 10px;
}
.product-list-box .plb-content h4{
    font-size:0.9rem;
    line-height: 20px;
    height: 40px;
    color:#333;
}
.product-list-box  .plb-price{
    width:100%;
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    color:#333;
}
.product-list-box  .plb-price .old-price{
    color: #999;
margin-left: 8px;
text-decoration: line-through;
font-weight: 400;
}
.price-cart{
    display: flex;
align-items: center;
height: 30px;
}
.add-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.product-list-box:hover {
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}
.product-list-qty{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.product-list-qty button{
    background: #fff;
    border: 1px solid #84c225;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-list-qty span{
    width: 40px;
    height: 30px;
    display: flex;
    font-size:0.9rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.product-list-box .plb-off{
    position: absolute;
    z-index: 9;
    background: #e96125;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 3px 5px;
}
/*===========================================*/
.slide-bar-list{
    width: 100%;
    position: relative;
}
.slide-bar-list .sbl-title{
    font-size:0.9rem;
    font-weight: 600;
    padding:5px 0px;
    display: inline-block;
    width: 100%;
}
.slide-bar-list .sbl-title i{
    float:right;
}
.slide-bar-list ul{
    margin: 0px 0px 10px 0px;
    list-style: none;
    padding: 0;
}
.slide-bar-list ul li{
    font-size: 0.8rem;
    padding-left: 15px;
    line-height: 20px;
}
.slide-bar-list ul li::before{
    content: "\e0bd";
font-family: 'typicons';
position: absolute;
left: 0;
color: #666;
font-weight: normal;
}
.slide-bar-list ul li a{
    color:#666;
}