.product-details-section{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.product-details-contant{
    width:100%;
    position: relative;
    display: inline-block;
}
.product-details-contant h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.product-details-contant .product-item-price{
    width:100%;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.product-item-price .old-price{
    color: #999;
margin-left: 8px;
text-decoration: line-through;
font-weight: 400;
font-size: 1rem;
}
.product-item-price .off{
    color: #51aa1b;
margin-left: 8px;
font-size: 1rem;
}
.pack-size{
    display: flex;
    align-items: center;
    width: 100%;
    margin: -5px;
}
.pack-size span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 0px 15px;
    font-weight: 600;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    font-size: 1rem;
}
.pack-size span.active{
    background: rgba(132,194,37,.2);
    border: 1px solid #51aa1b;
}
.product-details-button{
    margin-top: 20px;
}
.product-item-qty{
    display: flex;
    align-items: center;
    margin-top:15px;
    width: 100%;
}
.product-item-qty button{
    background: #fff;
    border: 1px solid #84c225;
    border-radius: 4px;
    width: 43px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-item-qty span{
    width: 55px;
    height: 45px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}