footer{
    background: #232f3e;
}
.copyright{
    border-top: 1px solid #eee;
    padding: 10px 0px;
    background: #fff;
}
.footer-top{
    padding: 40px 0px;
    background: #1f2a38;
}
.footer-bottom{
    border-top: 1px solid #1f2a38;
    padding: 20px 0px;
}
.footer-title{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
}
.footer-middle{
    padding: 40px 0px;
}
.footer-list{
    width: 100%;
}
.footer-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-list ul li{
    display: inline-block;
    width: 100%;
    line-height: 24px;
    font-size: 0.8rem;
}
.footer-list ul li a{
    color:#86a1ae;
}
.social-list{
    width: 100%;
    position: relative;
}
.social-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-list ul li{
    display: inline-block;
    margin-right: 7px;
}
.social-list ul li a{
    font-size:2.5rem;
    color: #86a1ae;
    line-height: 18px;
}
.social-list ul li a .typcn::before{
    width: auto;
}
.footer-media img{
    width: 55px;
    height: 55px;
    border-radius:4px;
    padding: 10px;
    border: 1px solid #8392a5;
}