@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.9rem;
    background: #fff;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 25px;
    padding-left:25px;
    margin-right: auto;
    margin-left: auto;
}
a:hover{
    text-decoration: none;
    color:#84c225;
}
header{
    background:#232f3e;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    height:70px;
}
.header-left{
    display: flex;
    height: 70px;
    align-items: center;
}
.logo{
    margin-right:50px;
}
.location{
    display: flex;
    height: 70px;
    align-items: center;
    color:#fff;
    font-size: 1rem;
}
.header-search{
    display: flex;
    height: 70px;
    align-items: center;
    position: relative;
}
.header-search input{
    width:100%;
    height: 40px;
    border: 1px solid #fff;
    text-indent: 15px;
    border-radius: 4px;
    position: relative;
}
.header-search .icon-search {
    position: absolute;
    right: 5px;
    font-size: 16px;
    top: 14px;
    color: #84c225;
    border-radius: 0px 4px 4px 0px;
    padding: 11px;
}
.header-right{
    display: flex;
    height: 70px;
    align-items: center;
    position: relative;
    justify-content: end;
}
.header-right ul{
    display: flex;
    align-items: center;
    margin:0;
    padding: 0;
    list-style: none;
}
.header-right ul li{
    margin-left: 20px;
}
.header-right ul li a{
    color:#fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.header-right ul li.cart{
    position: relative;
}
.header-right ul li.cart .cart-count{
    position: absolute;
    display: flex;
align-items: center;
justify-content: center;
width: 18px;
height: 18px;
background: #ea1e1e;
border-radius: 50%;
border: 1px solid #fff;
font-size: 0.6rem;
font-weight: 700;
left: 20px;
top: 1px;
}
/*=================================*/
.owl-theme .owl-nav{
    position: absolute;
    top:35%;
    left: 0;
    margin: 0;
    width: 100%;
}
.owl-prev{
    float: left;
width: 35px;
border: 1px solid #ddd !important;
background: #fff !important;
font-size: 2rem !important;
line-height: 35px  !important;
padding: 0px 0px 4px !important;
border-radius: 0 !important;
}
.owl-next{
    float: right;
width: 35px;
border: 1px solid #ddd !important;
background: #fff !important;
font-size: 2rem !important;
line-height: 35px  !important;
padding: 0px 0px 4px !important;
border-radius: 0 !important;
}
.row-xs {
    margin-left: 0px;
    margin-right: 0px;
}
.row-xs > div {
    padding-left:0px;
    padding-right:0px;
}
.row-md {
    margin-left:-5px;
    margin-right:-5px;
}
.row-md > div {
    padding-left:5px;
    padding-right:5px;
}
.row-lg {
    margin-left:-10px;
    margin-right:-10px;
}
.row-lg > div {
    padding-left:10px;
    padding-right:10px;
}
.section-container{
    padding: 25px;
}
.alert{
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}
.section{
    padding:40px 0px;
}
ul.breadcrum {
    padding: 0;
    display: inline-block;
    width: 100%;
    line-height: 100%;
	margin: 0;
    list-style: none;
}
ul.breadcrum li {
    display: inline-block;
    padding: 0 20px 0 0px;
    position: relative;
	text-transform: capitalize;
}
ul.breadcrum li a {
    display: block;
    padding: 0;
    color: #999;
    text-decoration: none;
    font-size:0.8rem;
}
ul.breadcrum li.active a{
    color:#333;
}
ul.breadcrum li:not(:last-child)::after {
    font-family: 'typicons';
    content: '\e049';
    font-size: 1rem;
    top: 0px;
    right: 5px;
    position: absolute;
    color:#999;
}
/*=================================*/
.bg-white{
    background: #ffffff;
}
.bg-theme{
    background: #84c225;
}
.bg-gray{
    background: #f5f5f5;
}
.pd-xl-x-60 {
    padding-left: 60px;
    padding-right: 60px;
}
.pd-0{
    padding:0px;
}
.pd-15{
    padding:15px;
}
.mg-t-1{
    margin-top:1px;
}
.mg-t-5{
    margin-top:5px;
}
.mg-t-10{
    margin-top:10px;
}
.mg-t-15{
    margin-top:15px;
}
.mg-r-5{
    margin-right: 5px;
}
.mg-r-10{
    margin-right: 10px;
}
.mg-r-15{
    margin-right: 15px;
}
.mg-l-5{
    margin-left: 5px;
}
.mg-l-10{
    margin-left: 10px;
}
.mg-b-0{
    margin-bottom: 0px;
}
.mg-b-5{
    margin-bottom: 5px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-15{
    margin-bottom: 15px;
}
.mg-b-20{
    margin-bottom: 15px;
}
.wd24{
    width:24px;
}
.wd32{
    width:32px;
}
.wd65{
    width:65px;
}
.wd75{
    width:75px;
}
.wd95{
    width:95px;
}
.wd115{
    width:115px;
}
.pless-left{
    padding-left: 0px;
}
.pless-left{
    padding-right: 0px;
}
.tx-07{
    font-size: 0.7rem;
}
.tx-08{
    font-size: 0.8rem;
}
.tx-09{
    font-size: 0.9rem;
}
.tx-10{
    font-size: 1rem;
}
.tx-11{
    font-size: 1.1rem;
}
.tx-12{
    font-size: 1.2rem;
}
.tx-13{
    font-size: 1.3rem;
}
.tx-color-theme{
    color:#84c225;
}
.tx-color-white{
    color:#fff;
}
.tx-color-orange{
    color:#e96125;
}
.tx-color-01 {
    color: #001737; 
}  
.tx-color-02 {
    color: #1b2e4b; 
}  
.tx-color-03 {
    color: #8392a5; 
}  
.tx-color-04 {
    color: #c0ccda; 
}
.fb600{
    font-weight: 600 !important;
}
.fb700{
    font-weight: 700 !important;
}
.divider{
    width: 100%;
    height: 7px;
    background: #f5f5f5;
}
.pull-right{
    float:right;
}
.sprator-120{
    height: 120px;
}
.btn-full{
    display: inline-block;
    width: 100%;
}
.btn01{
    height: 45px;
}
.btn02{
    height: 45px;
    padding: 0.375rem 1.75rem;
}
.btn-addcart{
    height: 30px;
    font-size: 0.8rem;
    background: transparent !important;
    color: #84c225 !important;
    padding: 0px 10px;
}
.btn-checkout{
    height: 50px;
    text-align: left;
}
.btn-primary {
    color: #fff;
    background-color: #84c225;
    border-color: #84c225;
}
.border-right{
    border-right: 1px solid #ddd;
}
.border-left{
    border-left: 1px solid #ddd;
}
.img-res{
    width: 100%;
}
/*=================================*/
.sub-header{
    background: #1f2a37;
display: flex;
align-items: center;
height: 50px;
justify-content: center;
}
.sub-header h1{
    color: #fff;
    font-size: 1.4rem;
    margin:0;
}
/*=================================*/
.lr-form{
    width: 100%;
    position: relative;
    display: inline-block;
}
.lr-form input{
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}
/*=================================*/
.psb-product-container{
    width: 100%;
    background: #fff;
    display: inline-block;
    position: relative;
}
.psb-product-container .psbpc-title{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.psb-product-container .psbpc-title h2{
    width: 100%;
}
.psb-product-container .psbpc-title .view-all{
    width: 100%;
    justify-content: end;
    display: flex;
    font-size:0.8rem;
}
.psb-slider{
    padding: 15px 0px;
}
/*=================================*/
.psb-product-list{
    width: 100%;
padding: 15px 15px !important;
position: relative;
transition: box-shadow .2s ease-in-out;
display: inline-block;
background: #fff;
border: 1px solid #eee;
}
.psb-product-list:hover{
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}
.psb-product-list .psb-product-img{
    width: 100%;
}
.psb-product-list .psb-product-img img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.psb-product-list .psb-product-content{
    width: 100%;
    padding: 15px 0px 0px;
}
.psb-product-list .psb-product-content h4{
    font-size: 0.8rem;
line-height: 20px;
height:40px;
}
.psb-product-list  .psb-price{
    width:100%;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 0.9rem;
}
.psb-product-list  .psb-price .old-price{
    color: #999;
margin-left: 5px;
text-decoration: line-through;
font-weight: 400;
font-size: 0.8rem;
}
.psb-product-list .psb-off{
    position: absolute;
    z-index: 99999;
    background: #e96125;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 3px 5px;
}
.psb-price-cart{
    display: flex;
align-items: center;
height: 30px;
}
.psb-list-qty{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.psb-list-qty button{
    background: #fff;
    border: 1px solid #84c225;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.psb-list-qty span{
    width: 30px;
    height: 25px;
    display: flex;
    font-size:0.8rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
/*============================================*/
.home-slider img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.add-banner{
    width: 100%;
}
.add-banner img{
    width: 100%;
    border-radius: 4px;
}
/*============================================*/
.section-cat{
    width: 100%;
    position: relative;
    margin-bottom:30px;
}
.cat-box-list{
    width: 100%;
    position: relative;
    display: inline-block;
}
.cat-box-list .cat-box-list-icon{
    width: 75px;
    height: 75%;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding:5px;
    margin: 0 auto;
}
.cat-box-list .cat-box-list-icon img{
    border-radius: 50%;
}
.cat-box-list .cbl-name{
    font-size: 0.8rem;
    margin-top:7px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    font-weight: 500;
}
.cat-box-list .cbl-count{
    font-size: 0.7rem;
    margin-top:2px;
    font-weight: 500;
    color:#666;
}