.modal-header{
    padding:1rem 1.5rem;
}
.modal-title{
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.modal-body{
    padding:1rem 1.5rem;
}
.modal-content{
    border: 0;
}
.modal-sm {
    max-width: 400px;
}
.login-pop{
    padding:3rem;
}
.login-box{
    position: relative;
    width: 100%;
    display: inline-block;
}
.login-box .login-box-header{
    padding: 2rem 3rem;
    border-radius: 0.3rem 0.3rem 0px 0px;
}
.login-box .login-form{
    padding: 3rem;
}
.login-box .login-form input{
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}
.login-box .login-form-box{
    position: relative;
}
.country-code{
    position:absolute;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-number input{
    text-indent: 40px;
}
.btn-close{
    position: absolute;
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    padding: 1rem;
    right: 5px;
    top: -5px;
}